<!DOCTYPE html>
<html lang="en">

<body>
<div class="limiter">
<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
<h1> Customers </h1>
  <table class="table100-head">
    <thead>
      <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Is Deleted </th>
        <th> Created at </th>
        <th> Modified at </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
      <td> {{ customer.id }} </td>
      <td> {{ customer.title }} </td>
      <td> {{ customer.isDeleted }} </td>
      <td> {{ customer.createdAt }} </td>
      <td> {{ customer.modifiedAt }} </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>
</div>

<!--===============================================================================================-->	
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>